<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @quali_result.position %>
</p>

<%= link_to 'Edit', edit_quali_result_path(@quali_result) %> |
<%= link_to 'Back', quali_results_path %>
