<h1>Rules and Scoring</h1>
<p>This section explains the rules and scoring system used by F1 Tips.</p>

<h4>REGISTRATION</h4>
<p>All entry money must be paid by the start of round 3 (for Season 2018 only; 2019 onwards will be round 1)</p>

<p>All tips must be submitted via the website by the start of Qualifying at each round. The website shows Qualifying start time for each event in AEST. In the event of the website being down submit tips via email to f1tips@agoralogic.com or by WhatsApp message to 'you know who'.</p>

<h4>SCORING</h4>
<p>Each race you must select a 3 different drivers for Qualification session, 3 different drivers for Race session and 1 drivcer for 10th place during the race.</p>

<p>Qualification selections are scored based on the official qualification position of each driver during the qualification session.  Any penalties that are applied after qualificaiton session but before the race that affect the drivers starting position do not affect the qualificaiton results.  For any doubt, the qualificaiton scoring is based on qualificaiton results, not race start position.</p>

<p>Maximum points are awarded based on the following:</p>

<table class="TFtable">
    <thead>
        <tr>
            <th>Selection</th>
            <th>Maximum Points</th>
        </tr>
    </thead>
    <tr>
        <td>Quali 1st</td>
        <td>5</td>
    </tr>
    <tr>
        <td>Quali 2nd</td>
        <td>3</td>
    </tr>
    <tr>
        <td>Quali 3rd</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Race 1st</td>
        <td>25</td>
    </tr>
    <tr>
        <td>Race 2nd</td>
        <td>18</td>
    </tr>
    <tr>
        <td>Race 3rd</td>
        <td>15</td>
    </tr>
    <tr>
        <td>Race 10th</td>
        <td>15</td>
    </tr>
</table>
</br>

<h4>EXAMPLES OF POINTS SYSTEM:</h4>
<p>
Qualification points awarded for 1st, 2nd and 3rd place selection will be Maximum Points less the difference between actual place and selected place
Race points awarded for 1st, 2nd and 3rd place selections will be based on the FIA driver points allocation for each selection.  Where a driver places higher than your selection, you will be awarded the FIA driver points allocation less the number of places the driver placed above your selection.
Race points awarded for a correct 10th place selection will be 15 points.  This is a BONUS points allocation and as such no points will be awarded for incorrect selection.
</p>
<strong>Example 1 - Qualification:</strong>
<p>
If you incorrectly select MAS for Quali 2nd and he comes in 3rd, you will recieve 2 points for that selection (calculation explained below).
Points awarded = 3 (max for Quali 2nd place) less 1 point (since your selection was wrong by one place) = 2 points
</p>
<strong>Example 2 - Race:</strong>
<p>If you correctly select RIC for Race 3rd and he comes in 3rd, you will recieve 15 points for that selection (calculation explained below).
Points awarded = 15 based on FIA driver points allocation for 3rd place
</p>
<strong>Example 3 - Race:</strong>
<p>
If you incorrectly select VET for Race 1st and he comes in 5th Place, you will recieve 10 points (calculation explained below).
Points awarded = 10 based on FIA driver points allocation for 5th place
</p>
<strong>Example 4 - Race:</strong>
<p>
If you incorrectly select ALO for Race 2nd and he comes last, you recieve 0 points for that selection (calculation explained below).
Points awarded = 0 based on FIA driver points allocation for last place
</p>
<strong>Example 5 - Race:</strong>
<p>
If you incorrectly select VET for Race 3rd and he comes in 1st Place, you recieve 13 points (calculation explained below).
Points awarded = 13 based on 15 points max for 3rd place selection less 2 points because he finished two places above your selection.
</p>
